/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define COLEMAK 0
#define QWERTY  1
#define LOWER   2
#define RAISE   3
#define CONFIG  4


//some swedish key codes
#define SE_LT 60
#define SE_GT 62
#define SE_PIPE RA(LT)
#define SE_AP LS(N6) 
#define SE_LBKC RA(N8)
#define SE_RBKC RA(N9)
#define SE_LBRC RA(N7)
#define SE_RBRC RA(N0)
#define SE_LPAR LS(N8)
#define SE_RPAR LS(N9)
#define SE_FLSH LS(N7)
#define SE_BLSH RA(PLUS)

/ {
	keymap {
		compatible = "zmk,keymap";

			Colemak {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  F  |  P   |  B   |                                  |  J   |  L  |  U  |  Y  |  Å  |   Ä  |
// | SHIFT|  A  |  R  |  S  |  T   |  G   |                                  |  M   |  N  |  E  |  I  |  O  |   Ö  |
// | CRTL |  Z  |  X  |  C  |  D   |  V   | TERM | DEL |     | SHIFT | L GUI |  K   |  H  |  ,  |  .  |  /  | CTRL |
//                    |     |L ALT |LOWER | BSPC | ESC |     | RET   | SPACE |RAISE | R-ALT |   |

			bindings = <
	&kp TAB   &kp Q &kp W &kp F &kp P &kp B                                                &kp J &kp L  &kp U  &kp Y   &kp LBKT &kp SQT
	&kp LSHFT &kp A &kp R &kp S &kp T &kp G                                                &kp M &kp N  &kp E  &kp I   &kp O &kp SEMI
	&kp LCTRL &kp Z &kp X &kp C &kp D &kp V &kp ESC &kp GRAVE         &kp LGUI &kp RET  &kp K &kp H  &kp COMMA &kp DOT &kp FSLH &sk LSHFT
	                 &none &kp LALT &mo LOWER &kp BSPC &kp DEL        &kp LSHFT  &kp SPACE  &mo RAISE &kp RALT &none
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};
		

			Qwerty{
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |   Å  |
// |  TAB  |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   Ö   |   Ä  |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   | L SHIFT | L SHIFT |  | L SHIFT |   RET   |  N   |  M    |  ,    |  .   |   /   | CTRL |
//                     | GUI  | DEL  |LOWER |  SPACE  |   ESC   |  |   RET   |  SPACE  |RAISE | TERM  | R-ALT |

			bindings = <
	&kp ESC   &kp Q &kp W &kp E &kp R &kp T                                                &kp Y &kp U  &kp I   &kp O   &kp P &kp LBKT
	&kp TAB   &kp A &kp S &kp D &kp F &kp G                                                &kp H &kp J  &kp K   &kp L   &kp SEMI &kp SQT
	&kp LSHFT &kp Z &kp X &kp C &kp V &kp B &kp LCTRL &kp LSHFT        &kp LSHFT &kp RET &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp RCTRL
	                 &kp LGUI &kp LGUI &mo LOWER &kp BSPC &kp ESC        &kp RET  &kp SPACE  &mo RAISE &kp GRAVE &kp RALT
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};
		Lower {
// ---------------------------------------------------------------------------------------------------------------------------------
// |    |CAPS |PG_UP|  UP  |PG_DN |     |                           |  \  |  /  | (  |  )  | _  |   |
// |    |HOME |LEFT | DOWN |RIGHT | END |                           |  |  |  *  | [  |  ]  | -  |   |
// |    |     |     |      |      |     |    |    |         |   |   |  &  |  <  | {  |  }  | >  |   |
//                         |      |     |    |    |         |   |   |CONFIG|     |    |

			bindings = <
	&trans &kp CAPS &kp PG_UP &kp UP   &kp PG_DN &trans                                 &kp SE_BLSH &kp UNDER &kp STAR &kp LPAR &kp QMARK &trans
	&trans &kp HOME &kp LEFT  &kp DOWN &kp RIGHT &kp END                                &kp SE_PIPE &kp PIPE &kp LBKT &kp RBKT &kp MINUS &trans
	&trans &trans   &trans    &trans   &trans  &trans &trans &trans     &trans  &trans  &kp SE_AP   &kp SE_LT &kp SE_LBRC &kp SE_RBRC &kp SE_GT &trans
	                          &trans   &trans  &trans &trans &trans     &trans  &trans  &mo CONFIG  &trans    &trans
			>;

		};
		
		Raise {
// ---------------------------------------------------------------------------------------------------------------------------------
// |    |  !  |  @  |  #  |  "  |  %   |                            |  ;  |  7  |  8  |  9  | +  |   |
// |    |  \  |  /  |  €  |  &  |  |   |                            |  ,  |  4  |  5  |  6  | -  |   |
// |    |     |  ¤  |  +  |  ^  |  ~   |    |    |        |    |    |  .  |  1  |  2  |  3  | 0  |   |
//                  |     |     |CONFIG|    |    |        |    |    |     |     |     |

			bindings = <
   &trans  &kp EXCL  &kp AT  &kp HASH &kp DQT &kp PRCNT                                   &kp SEMI  &kp N7  &kp N8  &kp N9  &kp PLUS  &trans
   &trans  &kp BSLH &kp FSLH  &kp RA(N5) &kp AMPS &kp PIPE                                &kp COMMA &kp N4  &kp N5  &kp N6  &kp MINUS &trans
   &trans  &trans  &trans  &kp PLUS &kp CARET &kp TILDE &trans &trans       &trans &trans &kp DOT   &kp N1  &kp N2  &kp N3  &kp N0    &trans
	                              &trans &trans &mo CONFIG &trans       &trans &trans &trans &trans &trans &trans
			>;

		};

		Config {
// ---------------------------------------------------------------------------------------------------------------------------------
// |COLEMAK|    |    |    |    |    |                            |    |    |    |    |   |   |
// |QWERTY |    |    |    |    |    |                            |    |    |    |    |   |   |
// |       |    |    |    |    |    |    |    |         |   |    |    |    |    |    |   |   |
//                     |    |    |    |    |         |   |    |    |    |    |

			bindings = <
   &to COLEMAK  &trans  &trans  &trans  &trans  &trans                       	      &trans  &trans  &trans  &trans  &trans  &trans
   &to QWERTY  &trans  &trans  &trans  &trans  &trans                                 &trans  &trans  &trans  &trans  &trans  &trans
   &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
			           &trans  &trans  &trans  &trans     &trans  &trans  &trans  &trans
			>;

		};
	};
};
