/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  Q  |  W  |  F   |  P   |  B   |                                          |  J   |  L    |  U    |  Y   |   Å   |   Ä  |
// |  TAB  |  A  |  R  |  S   |  T   |  G   |                                          |  M   |  N    |  E    |  I   |   O   |   Ö  |
// | SHIFT |  Z  |  X  |  C   |  D   |  V   | L SHIFT | L SHIFT |  | L SHIFT |   RET   |  K   |  H    |  ,    |  .   |   /   | CTRL |
//                     | GUI  | DEL  |LOWER |  SPACE  |   ESC   |  |   RET   |  SPACE  |RAISE | TERM  | R-ALT |
			bindings = <
	&kp ESC   &kp Q &kp W &kp F &kp P &kp B                                                &kp J &kp L  &kp U     &kp Y   &kp LBKT &kp SQT
	&kp TAB   &kp A &kp R &kp S &kp T &kp G                                                &kp M &kp N  &kp E     &kp I   &kp O &kp SEMI
	&kp LSHFT &kp Z &kp X &kp C &kp D &kp V &kp LCTRL &kp LSHFT        &kp LSHFT &kp RET &kp K &kp H  &kp COMMA &kp DOT &kp FSLH &kp RCTRL
	                 &kp LGUI &kp LGUI &mo LOWER &kp BSPC &kp ESC        &kp RET  &kp SPACE  &trans &kp GRAVE &kp RALT
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};
		
		Lower {
// ---------------------------------------------------------------------------------------------------------------------------------
// |    |CAPS |PG_UP|  UP  |PG_DN |     |                                           |  !   |  ?    |  (    |  )   | _  |   Ä  |
// |    |HOME |LEFT | DOWN |RIGHT | END |                                           |  @   |  *    |  [    |  ]   | -  |   Ö  |
// |    |     |     |      |      |     | L SHIFT | L SHIFT |   | L SHIFT |   RET   |  $   |  <    |  {    |  }   | >  | CTRL |
//                     | GUI  | DEL  |LOWER |  SPACE  |   ESC   |   |   RET   |  SPACE  |RAISE | TERM  | R-ALT |
			bindings = <
	&trans &kp CAPS &kp PG_UP &kp UP   &kp PG_DN &trans                                       &kp EXCL &kp QMARK &kp LPAR &kp RPAR &kp UNDER &trans
	&trans &kp HOME &kp LEFT  &kp DOWN &kp RIGHT &kp END                                      &kp AT   &kp STAR  &kp LBKT &kp RBKT &kp MINUS &trans
	&trans &kp Z    &trans    &trans   &kp D  &kp V &kp LCTRL &kp LSHFT     &kp LSHFT &kp RET &kp DLLR &kp LT    &kp LRBC &kp RBRC &kp GT    &trans
	                     &trans    &trans   &trans &kp BSPC &kp ESC             &kp RET  &kp SPACE &trans &trans &trans
			>;

		};
		
		Raise {
// ---------------------------------------------------------------------------------------------------------------------------------
// |    |  !  |  @  |  #  |  "  |  %  |                                           |  ;   |  7   |  8  |  9   | +  |   Ä  |
// |    |  \  |  /  |  €  |  &  |  |  |                                           |  ,   |  4   |  5  |  6   | -  |   Ö  |
// |    |  Z  |  ¤  |  +  |  ^  |  ~  | L SHIFT | L SHIFT |   | L SHIFT |   RET   |  .   |  1   |  2  |  3   | 0  | CTRL |
//                     |     |     |     |      |   ESC   |   |   RET   |  SPACE  |      |      |     |
			bindings = <
	&trans &kp EXCL &kp AT   &kp HASH &kp DQT &kp PRCNT                                              &kp SEMI &kp N7  &kp N8  &kp N9  &kp PLUS  &trans
	&trans &kp BLSH &kp FLSH &kp RA(N5) &kp AMPS &kp PIPE                                              &kp M    &kp N4  &kp N5  &kp N6  &kp MINUS &trans
	&trans &kp Z    &kp X    &kp PLUS &kp CARET &kp TILDE &kp LCTRL &kp LSHFT        &kp LSHFT &kp RET &kp K  &kp N1  &kp N2  &kp N3  &kp N0    &trans
	                             &trans &trans &trans &kp BSPC &kp ESC                        &kp RET   &kp SPACE  &trans &trans &trans
			>;

		};
	};
};
